<div class="row">
  <div class="col-6">
    <form #f="ngForm" (ngSubmit)="grabar()">
      <div class="form-group">
        <input type="text" placeholder="nombre" name="nombre" class="form-control" ngModel required #nombre="ngModel">
        <span *ngIf="!nombre.valid && nombre.touched">El campo es requerido</span>
      </div>
      <div class="form-group">
        <input type="text" placeholder="correo" class="form-control" name="correo" ngModel required email #correo="ngModel">
        <span *ngIf="!correo.valid && correo.touched && correo.errors.required">El campo es requerido</span>
        <span *ngIf="!correo.valid && correo.touched && correo.errors.email">No es un correo válido</span>
      </div>
      <div class="form-group">
        <!--<button class="btn btn-success" (click)="grabar()" type="button" [disabled]="!f.valid">Grabar</button>-->
        <button class="btn btn-success">Grabar</button>
      </div>
    </form>
  </div>
</div>
