<div class="row">
	<div class="col-6">

		<button class="btn btn-success" (click)="nuevo()">Nuevo</button>

		<table class="table table-striped table-hover" *ngIf="listaCursos && listaCursos.length; else NoHayDatos">
			<thead>
				<tr>
					<th>Título</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let curso of listaCursos; let indice = index">
					<td>{{curso.titulo}}</td>
					<td>{{curso.estado}}</td>
					<td>
						<button class="btn btn-warning" (click)="editar(indice)">Editar</button>
						<button class="btn btn-danger" (click)="eliminar(indice)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #NoHayDatos>
			<div>No hay datos</div>
		</ng-template>
	</div>
	<div class="col-6">
		<router-outlet></router-outlet>
	</div>
</div>