<div class="row justify-content-center">
	<div class="col-6">
		<a class="btn btn-success" [routerLink]="['nuevo']">Agregar</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
          <th>Título</th>
          <th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let curso of cursos">
					<td>{{curso.idCurso}}</td>
          <td>{{curso.titulo}}</td>
          <td>
            <button class="btn btn-warning">Editar</button>&nbsp;
            <button class="btn btn-danger" (click)="eliminar(curso.idCurso)">Eliminar</button>
          </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
